Repository hppRC/kuon, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, dependencies, source, tests, config, document

:sparkles: Add property
  src/models/tweet.rs
  src/models/twitter_api.rs
Labels: source

:white_check_mark: Add tests
  tests/common.rs
  tests/favorite.rs
  tests/retweet.rs
  tests/search.rs
Labels: tests

:memo: Update document
  README.md
Labels: document

:white_check_mark: Add CI
  .github/workflows/test.yml
Labels: workflow

:sparkles: Update struct definitions
  src/models/result.rs
  src/models/tweet.rs
  src/models/twitter_api.rs
Labels: source

:+1: Update tests
  tests/favorite.rs
  tests/retweet.rs
Labels: tests

Implement `ClientBuilder`
  src/client_builder.rs
  src/lib.rs
  src/models/mod.rs
  src/models/twitter_api.rs
  tests/test.rs
Labels: source, tests

Add tests for `ClientBuilder`
  Cargo.toml
  src/client_builder.rs
  src/models/bearer.rs
Labels: dependencies, source

Add docs for `ClientBuilder`
  src/client_builder.rs
  src/lib.rs
  src/models/twitter_api.rs
Labels: source

Add renovate.json
  renovate.json
Labels: none

Update Rust crate base64 to 0.12.3
  Cargo.toml
Labels: dependencies

Update Rust crate chrono to 0.4.13
  Cargo.toml
Labels: dependencies

:white_check_mark: Add tests
  tests/common.rs
  tests/favorite.rs
  tests/retweet.rs
  tests/search.rs
Labels: tests

:memo: Update document
  README.md
Labels: document

:memo: Update documents and add logo
  .github/images/kuon.png
  README.md
Labels: document

:sparkles: Add some basic types
  src/models/result.rs
  src/models/tweet.rs
  src/models/twitter_api.rs
Labels: source

:sparkles: Add faetures
  examples/tweet.rs
  src/models/api_errors.rs
  src/models/twitter_api.rs
  src/request.rs
  src/tweets/favorite.rs
  src/tweets/retweet.rs
  src/tweets/search.rs
  src/tweets/tweet.rs
Labels: source

:+1: Update tests
  tests/favorite.rs
  tests/retweet.rs
Labels: tests

:memo: Add easy examples
  README.md
  src/models/twitter_api.rs
Labels: source, document

:sparkles: Add examples
  examples/search.rs
Labels: none

:white_check_mark: Add CI
  .github/workflows/test.yml
Labels: workflow

:white_check_mark: Add E2E tests
  tests/common.rs
  tests/search.rs
  tests/test.rs
Labels: tests

:art: Change format
  src/tweets/favorite.rs
Labels: source

:sparkles: Add property
  src/models/tweet.rs
Labels: source

:sparkles: Update struct definitions
  src/models/result.rs
  src/models/tweet.rs
Labels: source

:white_check_mark: Add some tests
  tests/favorite.rs
  tests/retweet.rs
  tests/test.rs
Labels: tests

:+1: Make examples easier
  examples/search.rs
Labels: none

:tada: Update version
  Cargo.toml
Labels: dependencies

Update Rust crate reqwest to 0.10.6
  Cargo.toml
Labels: dependencies

Update Rust crate serde_derive to 1.0.114
  Cargo.toml
Labels: dependencies

Update Rust crate serde_json to 1.0.56
  Cargo.toml
Labels: dependencies

Update Rust crate thiserror to 1.0.20
  Cargo.toml
Labels: dependencies

Update Rust crate wiremock to 0.2.3
  Cargo.toml
Labels: dependencies

:sparkles: Add premium search API
  Cargo.toml
  examples/premium-search.rs
  src/models/result.rs
  src/models/tweet.rs
  src/tweets/search.rs
Labels: dependencies, source

:shirt: Fix lintation errors
  examples/premium-search.rs
  src/models/result.rs
  src/tweets/search.rs
Labels: source

Update Rust crate serde to 1.0.114
  Cargo.toml
Labels: dependencies

:sparkles: Add Serialize
  examples/tweet.rs
  src/models/api_errors.rs
  src/models/result.rs
  src/models/tweet.rs
Labels: source

:up: Update package version
  CHANGELOG.md
  Cargo.toml
Labels: dependencies

:sparkles: Add `show status`
  src/tweets/mod.rs
  src/tweets/show.rs
Labels: source

:+1: Update struct
  src/models/entity.rs
  src/models/mod.rs
  src/models/tweet.rs
  src/models/user.rs
Labels: source

.github/labeler.yml:

workflow:
  - .github/*.yml
  - .github/workflows/**/*

dependencies:
  - Cargo.toml

source:
  - src/**/*.rs

tests:
  - tests/**/*.rs

config:
  - Makefile.toml
  - .gitignore

document:
  - README.md
  - LICENSE
