Repository hppRC/kuon, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, dependencies, source, tests, config, document

.github/labeler.yml:

workflow:
  - .github/*.yml
  - .github/workflows/**/*

dependencies:
  - Cargo.toml

source:
  - src/**/*.rs

tests:
  - tests/**/*.rs

config:
  - Makefile.toml
  - .gitignore

document:
  - README.md
  - LICENSE

:+1: Add example
  examples/block-all-users-who-replied-to.rs
  examples/show.rs
Labels: none

Update Rust crate tokio to 0.2.22
  Cargo.toml
Labels: dependencies

Update Rust crate reqwest to 0.10.7
  Cargo.toml
Labels: dependencies

Update Rust crate anyhow to 1.0.32
  Cargo.toml
Labels: dependencies

Update Rust crate serde_json to 1.0.57
  Cargo.toml
Labels: dependencies

Update Rust crate wiremock to 0.2.4
  Cargo.toml
Labels: dependencies

:sparkres: Add model of followers/ids result
  src/models/mod.rs
  src/models/users.rs
Labels: source

:sparkres: Add api call function
  src/lib.rs
  src/users/followers.rs
  src/users/mod.rs
Labels: source

:white_check_mark: Add examples and test
  CHANGELOG.md
  Cargo.toml
  examples/followers_ids.rs
  tests/followers.rs
Labels: dependencies, tests

:shirt: Fix lint errors
  src/lib.rs
  src/models/mod.rs
  src/models/users.rs
  src/users/followers.rs
  src/users/mod.rs
Labels: source

Update Rust crate wiremock to 0.2.5
  Cargo.toml
Labels: dependencies

Update Rust crate base64 to 0.13.0
  Cargo.toml
Labels: dependencies

Update Rust crate chrono to 0.4.19
  Cargo.toml
Labels: dependencies

Update Rust crate reqwest to 0.10.10
  Cargo.toml
Labels: dependencies

Update Rust crate serde_json to 1.0.61
  Cargo.toml
Labels: dependencies

Update Rust crate anyhow to 1.0.38
  Cargo.toml
Labels: dependencies

Update Rust crate serde to 1.0.123
  Cargo.toml
Labels: dependencies

Update Rust crate serde_derive to 1.0.123
  Cargo.toml
Labels: dependencies

Update Rust crate tokio to 0.2.25
  Cargo.toml
Labels: dependencies

Update Rust crate tokio to v1
  Cargo.toml
Labels: dependencies

:up: Update `mockwire` to a compatible version
  Cargo.toml
Labels: dependencies

:recycle: Fix to allow use of raw requests
  src/request.rs
Labels: source

:pencil2: Rename request methods
  src/request.rs
  src/tweets/favorite.rs
  src/tweets/retweet.rs
  src/tweets/search.rs
  src/tweets/show.rs
  src/tweets/tweet.rs
  src/users/followers.rs
Labels: source

exports raw requests
  src/lib.rs
Labels: source

add example
  examples/raw_request.rs
Labels: none

:white_check_mark: Enable test for PR
  .github/workflows/test.yml
Labels: workflow

version 0.0.8 → 0.0.9
  Cargo.toml
Labels: dependencies

:up: Update `tokio` and `reqwest`
  Cargo.toml
Labels: dependencies

:white_check_mark: Add bump workflow
  .github/workflows/manual-bump.yml
  Cargo.toml
  tmp.sh
Labels: workflow, dependencies

:up: 0.0.10 -> 0.0.11
  Cargo.toml
Labels: dependencies

Update Rust crate thiserror to 1.0.23
  Cargo.toml
Labels: dependencies

:+1: Fix CI bugs
  .github/workflows/manual-bump.yml
  Cargo.toml
Labels: workflow, dependencies

:up: 0.0.11 -> 0.0.12
  Cargo.toml
Labels: dependencies

:+1: Remove unused file
  tmp.sh
Labels: none

:sparkles: Support OAuth1.1
  examples/oauth.rs
  examples/raw_request.rs
  src/auth/oauth1.rs
  src/client_builder.rs
  src/lib.rs
  src/models/mod.rs
  src/models/oauth.rs
  src/request.rs
  src/tweets/favorite.rs
  src/tweets/retweet.rs
  src/tweets/search.rs
  src/tweets/show.rs
  src/tweets/tweet.rs
  src/users/followers.rs
  tests/test.rs
Labels: source, tests

:shirt: Resolve nightly clippy warnings
  src/auth/oauth1.rs
  src/models/oauth.rs
Labels: source

Update Rust crate serde_json to 1.0.62
  Cargo.toml
Labels: dependencies

Update Rust crate tokio to 1.2.0
  Cargo.toml
Labels: dependencies

:up: 0.0.12 -> 0.0.13
  Cargo.toml
Labels: dependencies

:sparkles: export oauth token
  src/models/twitter_api.rs
Labels: source
