Repository hppRC/kuon, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, dependencies, source, tests, config, document

.github/labeler.yml:

workflow:
  - .github/*.yml
  - .github/workflows/**/*

dependencies:
  - Cargo.toml

source:
  - src/**/*.rs

tests:
  - tests/**/*.rs

config:
  - Makefile.toml
  - .gitignore

document:
  - README.md
  - LICENSE

:up: 0.0.13 -> 0.0.14
  Cargo.toml
Labels: dependencies

fix export oauth token
  src/models/twitter_api.rs
Labels: source

:up: 0.0.14 -> 0.0.15
  Cargo.toml
Labels: dependencies

:up: 0.0.15 -> 0.0.16
  Cargo.toml
Labels: dependencies

:bug: Fix Tweet structure
  examples/raw_request.rs
  src/models/tweet.rs
Labels: source

:up: 0.0.16 -> 0.0.17
  Cargo.toml
Labels: dependencies

Update Rust crate thiserror to 1.0.24
  Cargo.toml
Labels: dependencies

:sparkles: update tweet object
  src/models/entity.rs
Labels: source

:up: 0.0.17 -> 0.0.18
  Cargo.toml
Labels: dependencies

Update Rust crate wiremock to 0.5.1
  Cargo.toml
Labels: dependencies

Update Rust crate serde_json to 1.0.63
  Cargo.toml
Labels: dependencies

:recycle: Refactoring user model
  Cargo.toml
  src/models/user.rs
Labels: dependencies, source

:up: 0.0.18 -> 0.0.19
  Cargo.toml
Labels: dependencies

Update Rust crate serde_json to 1.0.64
  Cargo.toml
Labels: dependencies

:sparkles: Add home_timeline, user_timeline, and mentions_timeline
  examples/timeline.rs
  src/tweets/mod.rs
  src/tweets/statuses.rs
  tests/timeline.rs
Labels: source, tests

:sparkles: Improve types and fix failable test
  examples/timeline.rs
  src/models/entity.rs
  src/models/tweet.rs
  tests/timeline.rs
Labels: source, tests

:sparkles: fix test
  examples/timeline.rs
  src/models/tweet.rs
Labels: source

🥺chore
  examples/timeline.rs
Labels: none

:up: 0.0.19 -> 0.0.20
  Cargo.toml
Labels: dependencies

Update Rust crate serde_derive to 1.0.124
  Cargo.toml
Labels: dependencies

Update Rust crate serde to 1.0.124
  Cargo.toml
Labels: dependencies

:sparkles: Aggregate errors into kuon::Error
  src/auth/oauth1.rs
  src/client_builder.rs
  src/errors.rs
  src/lib.rs
  src/models/api_errors.rs
  src/models/mod.rs
  src/models/oauth.rs
  src/models/user.rs
  src/request.rs
  src/tweets/favorite.rs
  src/tweets/retweet.rs
  src/tweets/search.rs
  src/tweets/show.rs
  src/tweets/statuses.rs
  src/tweets/tweet.rs
  src/users/followers.rs
Labels: source

:+1: Update examples and tests
  examples/block-all-users-who-replied-to.rs
  examples/raw_request.rs
  tests/retweet.rs
Labels: tests

:up: 0.0.20 -> 0.0.21
  Cargo.toml
Labels: dependencies

Update Rust crate tokio to 1.3.0
  Cargo.toml
Labels: dependencies

Add id to TweetResult
  src/models/result.rs
Labels: source

:up: 0.0.21 -> 0.0.22
  Cargo.toml
Labels: dependencies

:sparkles: Add builder pattern
  .gitignore
  Cargo.toml
  kuon_macro/Cargo.toml
  kuon_macro/examples/kuon_derive.rs
  kuon_macro/src/lib.rs
  src/request.rs
  src/tweets/retweet.rs
  src/tweets/search.rs
Labels: dependencies, source, config

:sparkles: refactoring api
  Cargo.toml
  _examples/followers_ids.rs
  _examples/oauth.rs
  _examples/premium-search.rs
  _examples/raw_request.rs
  _examples/search.rs
  _examples/show.rs
  _examples/timeline.rs
  _examples/tweet.rs
  _tests/followers.rs
  _tests/retweet.rs
  _tests/search.rs
  _tests/test.rs
  _tests/timeline.rs
  kuon_macro/Cargo.toml
  kuon_macro/examples/kuon_derive.rs
  kuon_macro/src/lib.rs
  src/client_builder.rs
  src/lib.rs
  src/models/result.rs
  src/tweets/favorite.rs
  src/tweets/home_timeline.rs
  src/tweets/mod.rs
  src/tweets/retweet.rs
  src/tweets/search.rs
  src/tweets/show.rs
  src/tweets/show_tweet.rs
  src/tweets/statuses.rs
  src/tweets/tweet.rs
  src/users/followers.rs
  src/users/mod.rs
  tests/favorite.rs
Labels: dependencies, source, tests

:sparkles: Add tests and examples
  _tests/retweet.rs
  _tests/search.rs
  _tests/timeline.rs
  examples/retweet.rs
  examples/tweet.rs
  src/errors.rs
  src/models/result.rs
  src/models/tweet.rs
  src/models/user.rs
  src/request.rs
  src/tweets/favorite.rs
  src/tweets/home_timeline.rs
  src/tweets/retweet.rs
  src/tweets/search.rs
  src/tweets/show_tweet.rs
  src/tweets/tweet.rs
  tests/client_builder.rs
  tests/favorite.rs
  tests/home_timeline.rs
  tests/retweet.rs
  tests/search.rs
  tests/tweet.rs
Labels: source, tests

:sparkles: Update examples and tests
  _examples/premium-search.rs
  _examples/timeline.rs
  _tests/followers.rs
  examples/followers_ids.rs
  examples/oauth.rs
  examples/raw_request.rs
  examples/retweet.rs
  examples/search.rs
  examples/show.rs
  examples/timeline.rs
  src/errors.rs
  src/followers/followers_ids.rs
  src/followers/mod.rs
  src/lib.rs
  src/models/tweet.rs
  src/request.rs
  src/tweets/mod.rs
  src/tweets/user_timeline.rs
  tests/followers.rs
  tests/retweet.rs
Labels: source, tests

:sparkles: Update
  src/models/result.rs
Labels: source

:white_check_mark: Fix test
  tests/home_timeline.rs
Labels: tests

:sparkles: Add sub crate for macros
  kuon_macro/Cargo.toml
  kuon_macro/kuon_request_derive/Cargo.toml
  kuon_macro/kuon_request_derive/examples/t.rs
  kuon_macro/kuon_request_derive/examples/test.rs
  kuon_macro/kuon_request_derive/src/lib.rs
  kuon_macro/proc_macro_utils/Cargo.toml
  kuon_macro/proc_macro_utils/src/lib.rs
  kuon_macro/src/lib.rs
Labels: none

:tada: Update derive macro for requrests
  kuon_macro/Cargo.toml
  kuon_macro/kuon_request_derive/Cargo.toml
  kuon_macro/kuon_request_derive/examples/t.rs
  kuon_macro/kuon_request_derive/examples/test.rs
  kuon_macro/kuon_request_derive/src/lib.rs
  kuon_macro/proc_macro_utils/src/lib.rs
Labels: none

:sparkles: Update to use a original proc_macro
  Cargo.toml
  examples/oauth.rs
  src/client_builder.rs
  src/followers/followers_ids.rs
  src/request.rs
  src/tweets/favorite.rs
  src/tweets/home_timeline.rs
  src/tweets/mod.rs
  src/tweets/retweet.rs
  src/tweets/search.rs
  src/tweets/show_tweet.rs
  src/tweets/tweet.rs
  src/tweets/user_timeline.rs
  tests/client_builder.rs
  tests/favorite.rs
  tests/tweet.rs
Labels: dependencies, source, tests

:sparkles: Add doc comment support
  kuon_macro/kuon_request_derive/src/lib.rs
  kuon_macro/proc_macro_utils/Cargo.toml
  kuon_macro/proc_macro_utils/src/lib.rs
Labels: none

:sparkles: Add API document
  src/followers/followers_ids.rs
  src/tweets/favorite.rs
  src/tweets/home_timeline.rs
  src/tweets/retweet.rs
  src/tweets/search.rs
  src/tweets/show_tweet.rs
  src/tweets/tweet.rs
  src/tweets/user_timeline.rs
Labels: source

:white_check_mark: Add test
  tests/followers.rs
  tests/home_timeline.rs
  tests/retweet.rs
Labels: tests

:memo: Update an example and README.md
  README.md
  examples/search.rs
Labels: document
