Repository hppRC/kuon, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, dependencies, source, tests, config, document

.github/labeler.yml:

workflow:
  - .github/*.yml
  - .github/workflows/**/*

dependencies:
  - Cargo.toml

source:
  - src/**/*.rs

tests:
  - tests/**/*.rs

config:
  - Makefile.toml
  - .gitignore

document:
  - README.md
  - LICENSE

:memo: Add README
  README.md
Labels: document

:sparkles: Add sample project
  .gitignore
  Cargo.toml
  src/lib.rs
Labels: dependencies, source, config

:memo: Add LICENSE
  LICENSE
Labels: document

:white_check_mark: Add CHANGELOG template
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
Labels: none

:memo: Add CHANGELOG
  CHANGELOG.md
Labels: none

:memo: Update crate description
  Cargo.toml
Labels: dependencies

:up: Chagne package version
  Cargo.toml
Labels: dependencies

:up: Add dependencies
  Cargo.toml
Labels: dependencies

:sparkles: Add models
  src/models/mod.rs
  src/models/tweet.rs
  src/models/twitter_client.rs
Labels: source

:sparkles: Add constants
  src/constants.rs
Labels: source

:sparkles: Add placeholders
  src/auth.rs
  src/lib.rs
Labels: source

:sparkles: Add struct for handling API requests
  src/auth.rs
  src/lib.rs
  src/models/bearer.rs
  src/models/mod.rs
  src/models/twitter_client.rs
Labels: source

:sparkles: Add search function
  src/constants.rs
  src/models/result.rs
  src/models/tweet.rs
  src/search/mod.rs
  src/search/tweets.rs
Labels: source

:up: Add dependencies
  Cargo.toml
Labels: dependencies

:memo: Update document and add example(PoC)
  README.md
Labels: document

:up: Update version and CHANGELOG
  CHANGELOG.md
  Cargo.toml
Labels: dependencies

:+1: Remove tests which have effectness
  src/models/twitter_client.rs
  src/search/tweets.rs
Labels: source

:memo: Update document
  README.md
Labels: document

:sparkles: Add fav RT function
  src/lib.rs
  src/search/mod.rs
  src/search/tweets.rs
  src/tweets/favorite.rs
  src/tweets/mod.rs
  src/tweets/retweet.rs
  src/tweets/search.rs
Labels: source

:sparkles: Add basic models
  src/models/api_errors.rs
  src/models/mod.rs
  src/models/result.rs
  src/models/twitter_api.rs
Labels: source

:+1: Add oauth function
  src/auth/mod.rs
  src/auth/oauth1.rs
Labels: source

:+1: Add custom http request method
  Cargo.toml
  README.md
  src/constants.rs
  src/request.rs
  tests/test.rs
Labels: dependencies, source, tests, document

:memo: Fix typo
  README.md
Labels: document

:up: Update version
  CHANGELOG.md
  Cargo.toml
Labels: dependencies

:memo: Update example
  README.md
Labels: document

:memo: Update document
  README.md
Labels: document

:+1: Update document and rename method
  README.md
  src/tweets/search.rs
Labels: source, document

:white_check_mark: Change style
  .github/labels.yml
Labels: workflow

:tada: Update version
  Cargo.toml
Labels: dependencies

:sparkles: Add tweet result
  src/models/result.rs
Labels: source

:sparkles: Add tweet function
  src/tweets/mod.rs
  src/tweets/search.rs
  src/tweets/tweet.rs
  tests/test.rs
Labels: source, tests

:shower: Remove unused dependencies
  Cargo.toml
Labels: dependencies

:tada: Update crate version
  Cargo.toml
Labels: dependencies

Update README.md
  README.md
Labels: document

:sparkles: Add examples
  examples/search.rs
Labels: none

:sparkles: Add some basic types
  src/models/result.rs
  src/models/tweet.rs
  src/models/twitter_api.rs
Labels: source

:art: Change format
  src/tweets/favorite.rs
Labels: source

:white_check_mark: Add E2E tests
  tests/common.rs
  tests/search.rs
  tests/test.rs
Labels: tests

:memo: Add easy examples
  Cargo.toml
  README.md
Labels: dependencies, document

:+1: Make examples easier
  examples/search.rs
Labels: none
