Repository hppRC/kuon, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, dependencies, source, tests, config, document

.github/labeler.yml:

workflow:
  - .github/*.yml
  - .github/workflows/**/*

dependencies:
  - Cargo.toml

source:
  - src/**/*.rs

tests:
  - tests/**/*.rs

config:
  - Makefile.toml
  - .gitignore

document:
  - README.md
  - LICENSE

:sparkles: Add function documents
  kuon_macro/kuon_request_derive/src/lib.rs
  src/followers/followers_ids.rs
  src/tweets/favorite.rs
  src/tweets/home_timeline.rs
  src/tweets/retweet.rs
  src/tweets/search.rs
  src/tweets/show_tweet.rs
  src/tweets/tweet.rs
  src/tweets/user_timeline.rs
Labels: source

:memo: Add example codes
  src/followers/followers_ids.rs
  src/tweets/favorite.rs
  src/tweets/home_timeline.rs
  src/tweets/retweet.rs
  src/tweets/search.rs
  src/tweets/show_tweet.rs
  src/tweets/tweet.rs
  src/tweets/user_timeline.rs
Labels: source

:+1: Fix typo
  kuon_macro/kuon_request_derive/src/lib.rs
  kuon_macro/proc_macro_utils/src/lib.rs
Labels: none

:+1: top-level workspace is not needed
  Cargo.toml
Labels: dependencies

:up: 0.0.22 -> 0.0.23
  Cargo.toml
Labels: dependencies

Update Rust crate serde to 1.0.125
  Cargo.toml
Labels: dependencies

Update Rust crate serde_derive to 1.0.125
  Cargo.toml
Labels: dependencies

Update Rust crate tokio to 1.4.0
  Cargo.toml
Labels: dependencies

Update Rust crate wiremock to 0.5.2
  Cargo.toml
Labels: dependencies

Update Rust crate anyhow to 1.0.40
  Cargo.toml
Labels: dependencies

Update Rust crate proc-macro2 to 1.0.26
  kuon_macro/kuon_request_derive/Cargo.toml
  kuon_macro/proc_macro_utils/Cargo.toml
Labels: none

Update Rust crate syn to 1.0.68
  kuon_macro/kuon_request_derive/Cargo.toml
  kuon_macro/proc_macro_utils/Cargo.toml
Labels: none

:sparkles: disable renovate
  renovate.json
Labels: none

:sparkles: Update package
  Cargo.toml
Labels: dependencies

:+1: fix publishing
  kuon_macro/Cargo.toml
Labels: none

:up: 0.0.23 -> 0.0.24
  Cargo.toml
Labels: dependencies

:+1: Add kuon_proc_macro_utils crate
  kuon_macro/kuon_proc_macro_utils/Cargo.toml
  kuon_macro/kuon_proc_macro_utils/src/lib.rs
Labels: none

:+1: fix packaging error
  kuon_macro/kuon_proc_macro_utils/Cargo.toml
Labels: none

:sparkles: Add README
  kuon_macro/kuon_proc_macro_utils/README.md
Labels: none

:sparkles: Add kuon_request_derive crate
  kuon_macro/kuon_request_derive/Cargo.toml
  kuon_macro/kuon_request_derive/README.md
  kuon_macro/kuon_request_derive/src/lib.rs
Labels: none

:sparkles: Add crate
  kuon_macro/Cargo.toml
  kuon_macro/README.md
  kuon_macro/proc_macro_utils/Cargo.toml
  kuon_macro/proc_macro_utils/src/lib.rs
Labels: none

:+1: Remove unused dependency
  kuon_macro/kuon_request_derive/Cargo.toml
Labels: none

:sparkles: Bump version
  kuon_macro/kuon_request_derive/Cargo.toml
Labels: none

:sparkles: Update dependencies
  Cargo.toml
Labels: dependencies

:up: 0.0.23 -> 0.0.24
  Cargo.toml
Labels: dependencies

:up: 0.0.24 -> 0.0.25
  Cargo.toml
Labels: dependencies

:sparkles: Add model docs and optional datetime serializer
  src/models/mod.rs
  src/models/serde_twitter_data.rs
  src/models/tweet.rs
  src/models/user.rs
Labels: source

:up: 0.0.25 -> 0.0.26
  Cargo.toml
Labels: dependencies

fix show_tweet api medhod
  src/tweets/show_tweet.rs
Labels: source

:up: 0.0.26 -> 0.0.27
  Cargo.toml
Labels: dependencies
