Repository hppRC/kuon, pull requests merged in 2021-02, with the labels that each got.

#49 :white_check_mark: Enable test for PR
  .github/workflows/test.yml
Labels: workflow

#50 :up: Update `tokio` and `reqwest`
  Cargo.toml
Labels: dependencies

#53 Support OAuth1.1
  examples/oauth.rs
  examples/raw_request.rs
  src/auth/oauth1.rs
  src/client_builder.rs
  src/lib.rs
  src/models/mod.rs
  src/models/oauth.rs
  src/request.rs
  src/tweets/favorite.rs
  src/tweets/retweet.rs
  src/tweets/search.rs
  src/tweets/show.rs
  src/tweets/tweet.rs
  src/users/followers.rs
  tests/test.rs
Labels: source, tests

#56 Export oauth token
  src/models/twitter_api.rs
Labels: source

#57 fix export oauth token
  src/models/twitter_api.rs
Labels: source

#58 Fix Tweet structure
  examples/raw_request.rs
  src/models/tweet.rs
Labels: source

#61 Add Media Object to TweetEntities
  src/models/entity.rs
Labels: source

#64 Refactoring user model
  Cargo.toml
  src/models/user.rs
Labels: dependencies, source
